<h2 class="page-header"><%= author.name %></h2>
<div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
</div>
<h2 class="page-header">Books By Author</h2>
<div class="flex-row-wrap">
    <% books.forEach(book => { %>
        <a href="/books/<%= book.id %>">
            <img src="<%= book.coverImageDataURL %>" height="200">
        </a>
    <% }) %>
</div>