<h2 class="page-header"><%= book.title %></h2>
<div class="book-details">
  <div>
    <div class="book-container">
        <img src="<%= book.coverImageDataURL %>" height="300px">
    </div>
    <div class="book-details-grid">
      <div class="btn-row full-width">
        <a class="btn btn-primary flex-grow" href="/books/<%= book.id %>/edit">Edit</a>
        <%- include('../partials/deleteFormFlex', { url: `/books/${book.id}` }) %>
      </div>
      <div class="btn-row flex-grow">
        <a class="btn btn-primary full-width marginTop0p7rem" href="/authors/<%= book.author.id %>">View Author</a>
      </div>
    </div>
  </div>
  <div class="book-info-grid">  
      <div class="book-info-label">Author:</div>
      <div><%= book.author.name %></div>  
      <div class="book-info-label">Publish Date:</div>
      <div><%= book.publishDate.toDateString() %></div>  
      <div class="book-info-label">Page Count:</div>
      <div><%= book.pageCount %></div>
      <div class="book-info-label book-description">Description:</div>
      <div><%= book.description %></div>
  </div>
</div>
